# Dependencies
node_modules/
backend/venv/
venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
frontend/dist/
frontend/build/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
