MONGO_URI=
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
FLASK_ENV=development
FLASK_DEBUG=True
CORS_ORIGIN=http://localhost:5173
# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
